{% extends 'base.html' %}
{% block content %}

<div class="btn-group w-100 btn-group-toggle" data-toggle="buttons">
    {% if encryptionMode %}
    <label class="btn btn-orange cryptationModeToggle" arg="0">
        <input type="radio" name="options" id="option1" checked> Kryptera
    </label>
    <label class="btn btn-outline-orange cryptationModeToggle" arg="1">
        <input type="radio" name="options" id="option2"> Dekryptera
    </label>
    {% else %}
    <label class="btn btn-outline-orange cryptationModeToggle" arg="0">
        <input type="radio" name="options" id="option1"> Kryptera
    </label>
    <label class="btn btn-orange cryptationModeToggle" arg="1">
        <input type="radio" name="options" id="option2" checked> Dekryptera
    </label>
    {% endif %}
</div>

<div id="" class="row-12 d-flex w-100 ">
    <form id="encryptionForm" accept-charset="utf-8" action=""
        class="w-100 pt-3 pb-3 {%if not encryptionMode %} d-none {% endif %}" method="post">
        {% csrf_token %}
        <div class="col-12 pl-0 pr-0">
            <div class="row-12 justify-content-end d-flex mt-3">
                <small><a id="chooseKeyModalLink" href="#" class="text-info">Hur väljer jag en bra nyckel?</a></small>
            </div>
            <div class="row d-flex ">
                <div class="col-12">
                    {{encryptionForm.key }}
                    <a class="dummyLink" style="float: right;margin-right:30px;" href="#">
                        <i class="bi bi-eye-slash text-secondary" style="position:absolute; margin-top:-33px;"
                            id="togglePassword"></i>
                    </a>
                </div>

            </div>
            <div class="row-12 justify-content-end d-flex mt-3">
                <small><a id="initVectorInfoModalLink" href="#" class="text-info">Vad är en startvektor?</a></small>
            </div>
            <div class="row d-flex ">
                <div class="col-12">
                    {{encryptionForm.iv }}                    
                </div>

            </div>
            <div class="row d-flex ">
                <div class="col-12 col-lg-6 mt-3">

                    {{encryptionForm.text }}
                </div>
                <div class="col-12 col-lg-6 mt-3 d-flex flex-column ">
                    <div class="container-fluid rounded h-100 bg-white">
                        <div class="row d-flex justify-content-center ">
                            {% if cipher %}
                            <div class="col d-flex flex-column text-start justify-content-start"
                                style="overflow-y: scroll;">


                                <small class="text-secondary word-wrap text-break">
                                    {{ cipher }}
                                </small>
                            </div>
                            {% else %}
                            <div class="col d-flex flex-column text-center justify-content-center">
                                <small class="text-secondary">
                                    Chiffret kommer visas här
                                </small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-end  p-3">

                <input class="btn btn-orange" type="submit" value="Kryptera">
            </div>
        </div>
    </form>


    <form id="dencryptionForm" action="" class="w-100 pt-3 pb-3 {%if encryptionMode %} d-none {% endif %}"
        method="post">
        {% csrf_token %}
        <div class="col-12 pl-0 pr-0">
            <div class="row d-flex mt-3">
                <div class="col-12">
                    {{decryptionForm.key }}
                    <a class="dummyLink" style="float: right;margin-right:30px;" href="#">
                        <i class="bi bi-eye-slash text-secondary" style="position:absolute; margin-top:-33px;"
                            id="togglePassword"></i>
                    </a>
                </div>

            </div>
          
            <div class="row d-flex mt-3">
                <div class="col-12">
                    {{decryptionForm.iv }}                    
                </div>

            </div>
            <div class="row d-flex ">
                <div class="col-12 col-lg-6 mt-3">

                    {{decryptionForm.cipher }}
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="container-fluid bg-white rounded h-100 w-100 ">
                        <div class="row d-flex justify-content-center ">
                            {% if text %}
                            <div class="col d-flex flex-column text-start justify-content-start"
                                style="overflow-y: scroll;">


                                <small class="text-secondary word-wrap text-break">
                                    {{ text }}
                                </small>
                            </div>
                            {% else %}
                            <div class="col  d-flex flex-column text-center justify-content-center">
                                <small class="text-secondary">
                                    Texten kommer visas här
                                </small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-end  p-3">

                <input class="btn btn-orange" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

<div id="chooseKeyModal" class="modal " tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-bold">Att välja krypteringsnyckel</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <small>
                    Din krypteringsnyckel kan vara mellan 1 och 32 tecken lång. 
                    <br>
                    <br>
                    Ju närmare 32 tecken som din nyckel är, ju säkrare och ju mer svårknäckt kommer krypteringen bli.
                    <br>
                    <br>
                    Vi rekommenderar en nyckel som är så nära 32 tecken som möjligt.
                    <br>
                    <br>
                    Samma princip gäller för krypteringsnycklar som för lösenord: 
                    <br>
                    <ul>
                        <li>
                            Dela inte din krypteringsnyckel med någon som du inte vill ska kunna dekryptera det du krypterat!
                        </li>
                        <li>
                            Ju mer svårgissat din nyckel är, ju säkrare blir krypteringen.
                        </li>
                    </ul>
                                        
                    


                </small>
            </div>

        </div>
    </div>
</div>


<div id="initVectorInfoModal" class="modal " tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-bold">Startvektor ? </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <small>
                    Om ingen startvektor används minskar krypteringen säkerhet.
                    <br>
                    <br>
                    Anledningen är att om samma text krypteras med samma nyckel så kommer chiffret bli identiskt.
                    Om två meddelanded som båda börjar med ordet "Hej", men därefter är helt olika, 
                    krypteras med samma nyckel och utan startvektor så kommer båda chiffrens inledningar se likadana ut. 
                    <br>
                    <br>
                    Detta medför en risk då en analys av flera chiffer skulle kunna avslöja delar av ursprungsmeddelandena.      
                    <br>
                    <br>
                    Om en startvektor anges och därefter aldrig återanvänds för samma nyckel försvinner den oven beskrivna svagheten. 
                    <br>
                    <br>
                    Startvektorn behöver inte hållas hemlig, men behöver anges även vid dekrypteringstillfället.
                    <br>
                    <br>
                    Vi rekommenderar att startvektorn är 16 tecken lång men accepterar kortare vektorer också.
                </small>
            </div>

        </div>
    </div>
</div>


{% endblock %}